<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.auth.client.mapper.GdUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.auth.client.entity.GdUser">
        <id column="userId" property="userId"/>
        <result column="username" property="username"/>
        <result column="useraccount" property="useraccount"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="isnoVip" property="isnoVip"/>
        <result column="isnoYg" property="isnoYg"/>
        <result column="takedelivery" property="takedelivery"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userId, username, useraccount, password, phone, isnoVip, isnoYg, takedelivery
    </sql>

    <select id="selYgByMd" parameterType="String" resultType="org.fresh.gd.commons.consts.pojo.dto.oauth.UserDTO">
        select * from gd_user where isnoYg>0
        <if test="useraccount!=null and useraccount != '' ">
            and useraccount=#{useraccount}
        </if>

    </select>

     <!--用户修改-->
    <update id="wxupdateUser" parameterType="Integer">
        UPDATE  gd_user
        <set >
            <if test="username != null and username !=''">username=#{username}</if>
            <if test="password != null and password !=''">password=#{password}</if>
            <if test="isnoYg != null and isnoYg !=''">isnoYg=#{isnoYg}</if>
            <if test="takedelivery != null and takedelivery !=''">takedelivery=#{takedelivery}</if>
            <if test="phone != null and phone !=''">phone=#{phone}</if>
            <if test="isnoVip != null and isnoVip !=''">isnoVip=#{isnoVip}</if>
        </set>
         WHERE useraccount=#{useraccount}
    </update>
</mapper>
