<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/weadmin.css}"/>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
</head>

<body>
<div class="weadmin-body">
    <form class="layui-form" action="/oauth/authorize" method="post">
        <input name="user_oauth_approval" value="true" type="hidden"/>
        <div class="layui-form-item" th:each="scope:${scopes}">
            <label for="L_sex" class="layui-form-label" th:text="${scope}">性别</label>
            <div class="layui-input-block" id="L_sex">
                <input type="radio" th:name="${scope}" value="true" title="同意" checked="checked"/>
                <input type="radio" th:name="${scope}" value="false" title="拒绝" checked="checked"/>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">授权</button>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>

</html>
