<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gw.shoping.mapper.GdActivitiesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.gw.shoping.entity.GdActivities">
        <id column="activityId" property="activityId" />
        <result column="activityname" property="activityname" />
        <result column="adescription" property="adescription" />
        <result column="aimages" property="aimages" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        activityId, activityname, adescription, aimages
    </sql>



</mapper>
