<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gw.shoping.mapper.GdCommodityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.gw.shoping.entity.GdCommodity">
        <id column="comdityId" property="comdityId" />
        <result column="comdityname" property="comdityname" />
        <result column="comditytypeId" property="comditytypeId" />
        <result column="comditydw" property="comditydw" />
        <result column="comditydescribe" property="comditydescribe" />
        <result column="comdityprice" property="comdityprice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comdityId, comdityname, comditytypeId, comditydw, comditydescribe, comdityprice
    </sql>

    <select id="selShopAllAdmin" resultType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdCommodityDTO">
         SELECT * FROM gd_commodity g
         RIGHT OUTER JOIN  gd_comdityparticular c
         ON g.comdityId=c.comdityId
         <where>
         <if test="comdityname!='' and comdityname != null">
             g.comdityname=#{comdityname}
         </if>
          <if test="storeid!=0 and storeid != null">
               AND c.storeid=#{storeid}
          </if>
          <if test="comditytypeId != 0 and comditytypeId !=null">
              AND c.comditytypeId=#{comditytypeId}
          </if>

         </where>

    </select>
    
    <select id="selheadlineAll" resultType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdCommodityListDTO">
        select * from gd_commodity c,gd_images i where c.comdityId=i.comdityId LIMIT 4

    </select>

    <select id="selOne" resultType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdCommodityListDTO">
        select * from gd_commodity c,gd_images i where c.comdityId=i.comdityId and c.comdityId=#{comdityId}
    </select>
</mapper>
