<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gw.shoping.mapper.GdComditytypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.gw.shoping.entity.GdComditytype">
        <id column="comditytypeId" property="comditytypeId" />
        <result column="typename" property="typename" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comditytypeId, typename
    </sql>
    <delete id="delType" parameterType="Integer">
        delete from goshopping.gd_comditytype where comditytypeId = #{tid}
    </delete>
</mapper>
