<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gw.shoping.mapper.GdComdityparticularMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.gw.shoping.entity.GdComdityparticular">
        <id column="comdityId" property="comdityId"/>
        <result column="isnodiscount" property="isnodiscount"/>
        <result column="stock" property="stock"/>
        <result column="corresponding" property="corresponding"/>
        <result column="ssdp" property="ssdp"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comdityId, isnodiscount, stock, corresponding, ssdp
    </sql>

    <select id="QueryStock" resultType="org.gw.shoping.entity.GdComdityparticular" parameterType="list">
        select * from goshopping.gd_comdityparticular where comdityId in
        <foreach collection="list" open="(" item="item" separator="," close=")">
            #{item}
        </foreach>
        for update;
    </select>

    <update id="reduceStock" parameterType="Integer">
        update goshopping.gd_comdityparticular
        <set>
            <if test="type == 0">
                stock=stock-#{stock}
            </if>
            <if test="type == 1">
                stock=stock+#{stock}
            </if>
            <if test="type == 2">
                stock=#{stock}
            </if>
        </set>
        where comdityId=#{cid};
    </update>
</mapper>
