<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gw.shoping.mapper.GdCommodityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.gw.shoping.entity.GdCommodity">
        <id column="comdityId" property="comdityId"/>
        <result column="comdityname" property="comdityname"/>
        <result column="comditytypeId" property="comditytypeId"/>
        <result column="comditydw" property="comditydw"/>
        <result column="comditydescribe" property="comditydescribe"/>
        <result column="comdityprice" property="comdityprice"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comdityId, comdityname, comditytypeId, comditydw, comditydescribe, comdityprice
    </sql>

    <select id="selShopAllAdmin" resultType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdCommodityDTO">
        SELECT * FROM gd_commodity g
        RIGHT OUTER JOIN gd_comdityparticular c
        ON g.comdityId=c.comdityId
        <where>
            <if test="comdityname!='' and comdityname != null">
                g.comdityname=#{comdityname}
            </if>
            <if test="storeid!=0 and storeid != null">
                AND c.storeid=#{storeid}
            </if>
            <if test="comditytypeId != 0 and comditytypeId !=null">
                AND c.comditytypeId=#{comditytypeId}
            </if>

        </where>

    </select>

    <select id="selheadlineAll" resultType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdCommodityListDTO">
        select * from gd_commodity c,gd_images i where c.comdityId=i.comdityId LIMIT 4

    </select>

    <select id="selOne" resultType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdCommodityListDTO">
        select * from gd_commodity c,gd_images i where c.comdityId=i.comdityId and c.comdityId=#{comdityId}
    </select>

    <select id="QueryComByType" resultType="org.gw.shoping.entity.GdCommodity" parameterType="Integer">
        select * from goshopping.gd_commodity where comditytypeId = #{tid}
    </select>



    <select id="nventoryallmap" resultType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdinventoryallDTO" parameterType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdComditynameDTO">
select g.comdityId, g.comdityname, g.comditydw, c.stock, g.comditydescribe, g.comdityprice, e.typename,c.isnodiscount,c.storeid
from gd_commodity g
       inner join gd_comdityparticular c on g.comdityId = c.comdityId
       inner join gd_comditytype e on g.comditytypeId = e.comditytypeId
       <if test="comdityname!=null and comdityname !=''">
           and g.comdityname=#{comdityname}
       </if>
       <if test="storeid!=null and storeid !=0">
           and c.storeid=#{storeid}
       </if>

    </select>


    <select id="wsSelAll" resultType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdCommodityListDTO">
        select * from gd_commodity c,gd_images i,
        <where>
            and c.comdityId=i.comdityId and c.`comditytypeId`=t.`comditytypeId`
            <if test="typeid !=null and typeid !='' ">
                and c.comditytypeId=#{type}
            </if>

            <if test="typeName !=null and typeName='' ">
                AND t.typename LIKE '%#{typeName}%'
            </if>

            <if test="proName !=null and proName==''">
                and c.comdityname like '%#{comdityname}%'
            </if>
        </where>
    </select>
</mapper>
