<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gw.shoping.mapper.GdReplenishMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.gw.shoping.entity.GdReplenish">
        <id column="replenishId" property="replenishId"/>
        <result column="replenishTime" property="replenishTime"/>
        <result column="userId" property="userId"/>
        <result column="storeid" property="storeid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        replenishId, replenishTime, userId, storeid
    </sql>
    <!--<select id="selGdShopAllByBh" parameterType="org.fresh.gd.commons.consts.pojo.dto.shoping.ReplenishInDTO"-->
    <!--resultType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdShopAllDTO">-->
    <!--select g.receiptNo ,g.username,g.replenishTime,g.isnostorage,s.supplierBM,s.supplierName,c.comdityname,-->
    <!--p.shopNumber,p.purchase,p.giveNumber,p.purchasingPrice,p.subtotal-->
    <!--from gd_replenish g-->
    <!--inner join gd_Purchase p on g.replenishId=p.replenishId-->
    <!--inner join gd_commodity c on p.shopId=c.comdityId-->
    <!--inner join gd_comdityparticular r on c.comdityId=r.comdityId and g.storeid=r.storeid-->
    <!--inner join gd_supplier s on s.supplierId=g.supplierID-->
    <!--<if test="startTime !=null and startTime !=''">-->
    <!--and g.replenishTime &gt;= #{startTime}-->
    <!--</if>-->
    <!--<if test="endTime !=null and endTime !=''">-->
    <!--and g.replenishTime &lt;= #{endTime}-->
    <!--</if>-->
    <!--<if test="receiptNo != null and receiptNo != 0">-->
    <!--and g.receiptNo=#{receiptNo};-->
    <!--</if>-->
    <!--</select>-->
    <select id="selGdShopAllByBh" parameterType="org.fresh.gd.commons.consts.pojo.dto.shoping.ReplenishInDTO"
            resultType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdReplenishDTO">
        select *
        from gd_replenish pu,goshopping.gd_supplier su
        <where>
            <if test="startTime !=null and startTime !=''">
                and pu.replenishTime &gt;= #{startTime}
            </if>
            <if test="endTime !=null and endTime !=''">
                and pu.replenishTime &lt;= #{endTime}
            </if>
            <if test="receiptNo != null and receiptNo != ''">
                and pu.receiptNo=#{receiptNo}
            </if>
            <if test="isnostorage != null and isnostorage != ''">
                and pu.isnostorage=#{isnostorage}
            </if>
            and pu.supplierID = su.supplierId
        </where>
    </select>
    <select id="QueryPurByreId" parameterType="Integer" resultType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdPurchaseDTO">
        select pu.*,co.comdityname from goshopping.gd_purchase pu,goshopping.gd_commodity co where co.comdityId = pu.shopId and replenishId =#{reid}
    </select>

    <update id="updPurById" parameterType="String">
        update goshopping.gd_replenish set isnostorage = 1 where receiptNo = #{receiptNo}
    </update>
</mapper>
