<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gw.shoping.mapper.GdSupplierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.gw.shoping.entity.GdSupplier">
        <id column="supplierId" property="supplierId" />
        <result column="supplierBM" property="supplierBM" />
        <result column="supplierName" property="supplierName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        supplierId, supplierBM, supplierName
    </sql>

    <select id="QueryAll" resultType="org.fresh.gd.commons.consts.pojo.dto.shoping.GdSupplierDTO">
        select * from goshopping.gd_supplier
    </select>
</mapper>
