<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gd.vip.mapper.GdViplvMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.gd.vip.entity.GdViplv">
        <result column="viplv" property="viplv" />
        <result column="vipdiscount" property="vipdiscount" />
        <result column="vipintegration" property="vipintegration" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        viplv, vipdiscount, vipintegration
    </sql>

</mapper>
