<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gd.order.mapper.GdShoppingcartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.gd.order.entity.GdShoppingcart">
        <id column="cartid" property="cartid" />
        <result column="comdityId" property="comdityId" />
        <result column="userid" property="userid" />
        <result column="num" property="num" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cartid, comdityId, userid, num
    </sql>

</mapper>
